@import '../styles/_variables.scss';

@mixin LayerDetailsParamsBase() {
  width: 100%;
  padding: 6px;
  line-height: 18px;
  background: $color-dark-level-4;
  border: $color-dark-level-4;
  box-shadow: $shadow-inset-level-1;
  border-radius: 2px;
  font-size: 14px;
  color: $text-color-light;
}

.LayerDetails {
  &-group {
    width: 100%;
    margin-bottom: 24px;
    &-body {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &-param {
    flex: 1 1 auto;

    max-width: 50%;
    margin-bottom: 12px;

    &-label {
      display: block;
      margin-bottom: 3px;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
    }

    &-input {
      @include LayerDetailsParamsBase;
    }

    &-text {
      @include LayerDetailsParamsBase;
      height: 54px;
      resize: none;
    }

    &-color {
      @include LayerDetailsParamsBase;
      display: flex;
      &-body {
        width: 18px;
        height: 18px;
        border: $border-style-light;
        margin-right: 6px;
      }
    }

    &:nth-child(odd){
      padding-right: 6px;
    }

    &:nth-child(even) {
      padding-left: 6px;
    }

    &:nth-child(odd):last-child {
      max-width: none;
      padding-right: 0;
    }
  }
}


.BoxModel {
  width: 100%;
  &-margin {
    position: relative;
    padding: 21px;
    background: blue;
  }
  &-padding {
    position: relative;
    padding: 21px;
    background: green;
  }
  &-content {
    display: flex;
    padding: 18px;
    height: 48px;
    background: red;
    align-items: center;
    justify-content: center;
    .BoxModel-value {
      position: static;
    }
  }

  &-value {
    position: absolute;
    width: 18px;
    padding: 3px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    &--top {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &--right {
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
    &--bottom {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    &--left {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}