@import '../styles/_variables.scss';

@mixin LayerDetailsParamsBase() {
  width: 100%;
  padding: 6px;
  line-height: 18px;
  background: $color-dark-level-4;
  border: $color-dark-level-4;
  box-shadow: $shadow-inset-level-1;
  border-radius: 2px;
  font-size: 14px;
  color: $text-color-light;
}

.LayerDetails {
  &-group {
    width: 100%;
    margin-bottom: 24px;
    &-body {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &-param {
    flex: 1 1 auto;

    max-width: 50%;
    margin-bottom: 12px;

    &-label {
      display: block;
      margin-bottom: 3px;
      font-size: 12px;
      line-height: 18px;
      text-transform: uppercase;
    }

    &-input {
      @include LayerDetailsParamsBase;
    }

    &-text {
      @include LayerDetailsParamsBase;
      height: 54px;
      resize: none;
    }

    &-color {
      @include LayerDetailsParamsBase;
      display: flex;
      &-body {
        width: 18px;
        height: 18px;
        border: $border-style-light;
        margin-right: 6px;
      }
    }

    &:nth-child(odd){
      padding-right: 6px;
    }

    &:nth-child(even) {
      padding-left: 6px;
    }

    &:nth-child(odd):last-child {
      max-width: none;
      padding-right: 0;
    }
  }
}


.BoxModel {
  width: 100%;
  font-size: 12px;
  line-height: 12px;
  &-margin {
    position: relative;
    padding: 24px;
    background: $color-dark-level-4;
    box-shadow: $shadow-inset-level-1;
    border-radius: 2px;
  }
  &-padding {
    position: relative;
    padding: 24px;
    background: $color-dark-level-4;
    border: 1px solid $color-dark-level-0;
    border-radius: 2px;
  }
  &-content {
    position: relative;
    display: flex;
    padding: 18px;
    height: 36px;
    background: $color-dark-level-4;
    border: 1px solid $color-dark-level-0;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    .BoxModel-value {
      position: static;
    }
  }

  &-title {
    position: absolute;
    top: 6px;
    left: 24px;
    opacity: 0.6;
  }

  &-separator {
    opacity: 0.4;
  }

  &-value {
    position: absolute;
    width: 18px;
    text-align: center;
    opacity: 0.2;
    transition: opacity 150ms ease-in;
    &.is-active {
      opacity: 1;
    }
    &--top {
      top: 6px;
      left: 50%;
      transform: translateX(-50%);
    }
    &--right {
      top: 50%;
      right: 3px;
      transform: translateY(-50%);
    }
    &--bottom {
      bottom: 6px;
      left: 50%;
      transform: translateX(-50%);
    }
    &--left {
      top: 50%;
      left: 3px;
      transform: translateY(-50%);
    }
  }
}