@import '../styles/_variables.scss';
$sidebar-background-color: $color-dark-level-3;
$sidebar-horizontal-padding: 18px;

.Sidebar {
  z-index: 1;
  position: relative;
  box-shadow: $shadow-level-2;
  flex: 1 0 auto;
  padding: 24px $sidebar-horizontal-padding;
  background-color: $sidebar-background-color;
  color: $text-color-light;

  img {
    width: auto;
    margin: 0 auto;
  }

  &-header {
    margin-bottom: 24px;
  }
}


.TreeList {

  ul {
    padding: 0;
    margin: 0;
    li {
      list-style: none;
      margin: {
        right: -$sidebar-horizontal-padding;
        left: -$sidebar-horizontal-padding;
      }
      li {
        margin: 0;
        a {
          padding: 0 ($sidebar-horizontal-padding * 2 + 6px);
        }
      }

      div {
        padding: 0 $sidebar-horizontal-padding;
        line-height: 30px;
        .Icon {
          margin-right: 6px;
        }
      }
    }
  }

  a {
    display: block;
    padding: 0 $sidebar-horizontal-padding;
    line-height: 30px;
    &.is-selected,
    &:hover {
      background-color: $color-dark-level-1;
      color: $text-color-light-hover;
    }
  }
}