@import '../styles/_variables.scss';
$sidebar-background-color: $color-dark-level-3;
$sidebar-horizontal-padding: 18px;

.Sidebar {
  z-index: 1;
  position: relative;
  box-shadow: $shadow-level-2;
  flex: 1 0 auto;
  padding: 24px $sidebar-horizontal-padding;
  background-color: $sidebar-background-color;
  color: $text-color-light;

  img {
    width: auto;
    margin: 0 auto;
  }

  ul {
    padding: 0;
    margin: 0 0 24px 0;
    li {
      list-style: none;
      margin: {
        right: -$sidebar-horizontal-padding;
        bottom: 0;
        left: -$sidebar-horizontal-padding;
      }
    }
  }

  a {
    display: block;
    padding: 6px $sidebar-horizontal-padding;
    &.is-selected,
    &:hover {
      background-color: $color-dark-level-1;
      color: $text-color-light-hover;
    }
  }

  &-header {
    margin-bottom: 24px;
  }
}
