.Sidebar {
  flex: 1 0 auto;
  padding: 24px 18px;
  background-color: #21252b;
  color: #cccccc; }
  .Sidebar img {
    width: auto;
    margin: 0 auto; }
  .Sidebar ul {
    padding: 0;
    margin: 0 0 24px 0; }
    .Sidebar ul li {
      list-style: none;
      margin-right: -18px;
      margin-bottom: 0;
      margin-left: -18px; }
  .Sidebar a {
    display: block;
    padding: 6px 18px; }
    .Sidebar a.is-selected, .Sidebar a:hover {
      background-color: #2f333d;
      color: white; }
  .Sidebar-header {
    margin-bottom: 24px; }
