@import '../styles/_variables.scss';

$toolbar-horizontal-padding: 18px;

.Toolbar {
  z-index: 1;
  position: relative;
  box-shadow: $shadow-level-2;
  flex: 1 0 auto;
  background-color: $color-dark-level-3;
  color: $text-color-light;
  display: flex;
  transition: transform 250ms $timing-bezier-swiftOut;

  &.is-open {
    transform: translateX(calc(-100% + #{$app-toolbar-menu-width}));
    height: 100vh;
  }

  &-menu {
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
    width: $app-toolbar-menu-width;
    padding-top: 24px;
    overflow: hidden;

    button {
      background: $color-dark-level-2;
      box-shadow: $shadow-level-1;
      height: 36px;
      width: 100%;
      &:hover {
        color: $text-color-light-hover;
      }
    }
  }

  &-body {
    flex: 1 1 auto;
    padding: 24px $toolbar-horizontal-padding;
    background-color: $color-dark-level-2;
    box-shadow: $shadow-level-1;
    overflow-y: auto;
  }

  ul {
    padding: 0;
    margin: 0 0 24px 0;
    li {
      list-style: none;
      margin: {
        right: -$toolbar-horizontal-padding;
        bottom: 0;
        left: -$toolbar-horizontal-padding;
      }
    }
  }

  a {
    display: block;
    padding: 6px $toolbar-horizontal-padding;
    &.is-selected,
    &:hover {
      color: $text-color-light-hover;
    }
  }
}
