@import '../styles/_variables.scss';

.Toolbar {
  flex: 1 0 auto;
  background-color: $color-background;
  color: $text-color-light;
  display: flex;
  transition: transform 250ms $timing-bezier-swiftOut;
  &.is-open {
    transform: translateX(calc(-100% + #{$app-toolbar-menu-width}));
  }
  &-menu {
    padding-top: 24px;
    flex: 0 0 auto;
    width: $app-toolbar-menu-width;
    button {
      background: $color-foreground;
      box-shadow: $shadow-boxes-soft;
      height: 36px;
      width: 100%;
      &:hover {
        color: $text-color-light-hover;
      }
    }
  }

  &-body {
    flex: 1 1 auto;
    padding: 24px 18px;
    background-color: $color-foreground;
  }

  ul {
    padding: 0;
    margin: 0 0 24px 0;
    li {
      list-style: none;
    }
  }
}
