.u-mb-0 {
  margin-bottom: 0 !important;
}

.u-mb-1 {
  margin-bottom: 6px !important;
}

.u-mb-2 {
  margin-bottom: 12px !important;
}

.u-mr-0 {
  margin-right: 0 !important;
}

.u-mr-1 {
  margin-right: 6px !important;
}

.u-mr-2 {
  margin-right: 12px !important;
}