// Layout colors
$color-background: #21252b;
$color-foreground: #2c313a;

// Typography
$text-font: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
  Droid Sans, Helvetica Neue, sans-serifbody, html;
$text-color-light: #cccccc;
$text-color-light-hover: white;
$text-color-dark: #252a2f;
