html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serifbody, html;
  color: #cccccc;
  background: #21252b; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px; }

*:before, *:after {
  box-sizing: inherit; }

.App {
  display: flex;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  align-items: stretch; }
  .App-sidebar, .App-toolbar {
    width: 220px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column; }
  .App-toolbar {
    width: 256px; }
  .App-body {
    background-color: #1c2125;
    width: 100%;
    flex: 1 0 auto;
    max-height: 100vh;
    width: calc(100vw - 220px - 36px);
    overflow-y: auto; }

img {
  display: block;
  width: 100%;
  height: auto; }

.cases-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.case-container {
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 256px; }

.canvases-container {
  display: flex;
  flex-direction: row; }

.canvas-container {
  display: flex;
  flex-direction: column;
  margin: 18px; }

.grid-bg {
  overflow-x: auto;
  position: relative; }

.section-title {
  margin: 12px; }

.components-container {
  display: flex;
  flex-direction: column;
  background-color: #181c22; }

.colors-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.color-container {
  position: relative;
  height: 145px;
  margin: 12px; }

.color-display {
  height: 120px;
  width: 240px; }

.color-name {
  position: absolute;
  bottom: 0px;
  left: 0px; }

.color-value {
  position: absolute;
  bottom: 0px;
  right: 0px; }

.text-styles-container {
  display: flex;
  flex-direction: column;
  margin: 12px; }
