html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serifbody, html;
  color: #cccccc;
  background: #21252b; }

body {
  margin: 0;
  padding: 0;
  font-size: 16px; }

*:before, *:after {
  box-sizing: inherit; }

.App {
  display: flex;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  align-items: stretch; }
  .App-sidebar, .App-toolbar {
    width: 220px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column; }
  .App-toolbar {
    width: 256px; }
  .App-body {
    width: 100%;
    flex: 1 0 auto;
    max-height: 100vh;
    width: calc(100vw - 220px - 36px);
    overflow-y: auto; }

img {
  display: block;
  width: 100%;
  height: auto; }

.section-title {
  margin: 24px; }

.Cases {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px; }

.Case {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin-bottom: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  padding-right: 256px;
  background-color: #282c34; }
  .Case-codeButton {
    margin-left: 6px;
    opacity: 0.4;
    transition: opacity 150ms ease-in; }
    .Case-codeButton:hover {
      opacity: 1; }

.Canvases {
  display: flex;
  flex-direction: row; }

.Canvas {
  display: flex;
  flex-direction: column;
  margin: 12px; }

.colors-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 24px;
  padding: 12px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #282c34; }
  .colors-container .color-container {
    position: relative;
    height: 145px;
    margin: 12px; }
  .colors-container .color-display {
    height: 120px;
    width: 240px; }
  .colors-container .color-name {
    position: absolute;
    bottom: 0px;
    left: 0px; }
  .colors-container .color-value {
    position: absolute;
    bottom: 0px;
    right: 0px; }

.text-styles-container {
  margin: 24px;
  padding: 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #282c34; }
