html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serifbody, html;
  color: #252a2f; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

*:before, *:after {
  box-sizing: inherit; }

.App {
  display: flex;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  align-items: stretch; }
  .App-sidebar, .App-toolbar {
    width: 220px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column; }
  .App-toolbar {
    width: 220px; }
  .App-body {
    width: 100%;
    flex: 1 0 auto;
    max-height: 100vh;
    width: calc(100vw - 220px - 36px);
    overflow-y: auto; }

img {
  display: block;
  width: 100%;
  height: auto; }

.cases-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start; }

.case-container {
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 220px; }

.canvases-container {
  display: flex;
  flex-direction: row; }

.canvas-container {
  display: flex;
  flex-direction: column;
  margin: 18px; }

.grid-bg {
  overflow-x: auto;
  position: relative;
  background-color: #f0f0f0;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.55) 25%, rgba(255, 255, 255, 0.55) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.55) 75%, rgba(255, 255, 255, 0.55) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.55) 25%, rgba(255, 255, 255, 0.55) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.55) 75%, rgba(255, 255, 255, 0.55) 76%, transparent 77%, transparent);
  background-size: 50px 50px; }

.section-title {
  margin: 12px; }

.components-container {
  display: flex;
  flex-direction: column; }

.colors-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.color-container {
  position: relative;
  height: 145px;
  margin: 12px; }

.color-display {
  height: 120px;
  width: 240px; }

.color-name {
  position: absolute;
  bottom: 0px;
  left: 0px; }

.color-value {
  position: absolute;
  bottom: 0px;
  right: 0px; }

.text-styles-container {
  display: flex;
  flex-direction: column;
  margin: 12px; }
