@import './styles/_variables.scss';

html {
  box-sizing: border-box;
  font-family: $text-font;
  color: $text-color-light;
  background: $color-dark-level-4;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

* {
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.App {
  display: flex;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  align-items: stretch;

  &-sidebar,
  &-toolbar {
    width: $app-sidebar-width;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
  }

  &-toolbar {
    width: $app-toolbar-width;
  }

  &-body {
    width: 100%;
    flex: 1 0 auto;
    max-height: 100vh;
    width: calc(100vw - #{$app-sidebar-width} - #{$app-toolbar-menu-width});
    overflow-y: auto;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.cases-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.case-container {
  margin: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: $app-toolbar-width;
}

.canvases-container {
  display: flex;
  flex-direction: row;
}

.canvas-container {
  display: flex;
  flex-direction: column;
  margin: 18px;
}

.grid-bg {
  overflow-x: auto;
  position: relative;
}

.section {
  &-title {
    margin: 12px;
  }
}

.components-container {
  display: flex;
  flex-direction: column;
  background-color: $color-dark-level-3;
}

.colors-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.color-container {
  position: relative;
  height: 145px;
  margin: 12px;
}

.color-display {
  height: 120px;
  width: 240px;
}

.color-name {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.color-value {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.text-styles-container {
  display: flex;
  flex-direction: column;
  margin: 12px;
}
