@import './styles/_variables.scss';

html {
  font-family: $text-font;
  color: $text-color-light;
  background: $color-dark-level-4;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

.App {
  display: flex;
  max-width: 100%;
  min-height: 100vh;
  overflow: hidden;
  align-items: stretch;

  &-sidebar,
  &-toolbar {
    width: $app-sidebar-width;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &-toolbar {
    width: $app-toolbar-width;
  }

  &-body {
    position: relative;
    width: 100%;
    flex: 1 0 auto;
    height: 100vh;
    width: calc(100vw - #{$app-sidebar-width} - #{$app-toolbar-menu-width});
    overflow-y: auto;
  }
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.Section {
  &-title {
    margin: 24px;
    display: flex;
    align-items: center;
  }
}

// Cases
.Cases {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 24px;
}

// Canvases
.Canvases {
  display: flex;
  flex-direction: row;
}

.Canvas {
  display: flex;
  flex-direction: column;
  margin: 12px;
}

// Colors
.colors-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 24px;
  padding: 12px;
  box-shadow: $shadow-level-1;
  background-color: $color-dark-level-3;
  .color-container {
    position: relative;
    height: 145px;
    margin: 12px;
  }
  .color-display {
    height: 120px;
    width: 240px;
  }
  .color-name {
    position: absolute;
    bottom: 0px;
    left: 0px;
  }
  .color-value {
    position: absolute;
    bottom: 0px;
    right: 0px;
  }
}

// Text Styles
.text-styles-container {
  margin: 24px;
  padding: 24px;
  box-shadow: $shadow-level-1;
  background-color: $color-dark-level-3;
}
