@import './styles/_normalize';
@import './styles/_variables';
@import './styles/_mixins';
@import './styles/_helpers';
@import './styles/_responsive-helpers';
@import './styles/_typography';

// A reset
a {
  cursor: pointer;
  text-decoration: none;
  transition: all 150ms ease-in;

  &:hover,
  &:focus {
    color: $text-color-light-hover;
  }
}

// Button reset
button {
  background: 0;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  vertical-align: middle;
  transition: all 150ms ease-in;

  &:hover,
  &:focus {
    outline: none;
    color: $text-color-light-hover;
  }
}
