@import './styles/_normalize';
@import './styles/_variables';
@import './styles/_typography';
@import './styles/_helpers';

// A reset
a {
  cursor: pointer;
  text-decoration: none;
  transition: all 150ms ease-in;
}

// Button reset
button {
  background: 0;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  cursor: pointer;
  vertical-align: middle;
  transition: all 150ms ease-in;
  &:focus {
    outline: none;
  }
}
